*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pisca {
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.1;
  }
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.urna{
  background: linear-gradient(#d4cdbc, #dbd5c9);
  padding: 30px;
  display: flex;
  margin-top: 12.5%;
}

.tela{
  height: 320px;
  width: 500px;
  background: linear-gradient(to right, #E8E8E8, #C1C1C1);
  border: 4px solid #a7a39e;
  box-shadow: 0 0 6px #b3ab9b;
  display: flex;
  flex-direction: column;
}

.teclado{
background-color: #403A3A;
margin-left: 30px;
}

.teclado-linha{
  display: flex;
  justify-content: center;
  align-items: center;
}

.teclado-botao{
  font-weight: bold;
  min-width: 70px;
  height: 40px;
  font-size: 25px;
  color: rgb(235, 235, 235);
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 2px #555;
  padding: 10px;
}

.branco{
  background-color: rgb(233, 233, 233);
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
}

.corrige{
  background-color: #F09046;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
}

.confirma{
  background-color: #48c079;
  font-size: 15px;
  text-transform: uppercase;
  color: rgb(26, 26, 26);
  width: 80px;
  height: 50px;
  padding: 10px;
}

.d1{
  flex: .9;
  display: flex;
}

.d1-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.d1-1{
  height: 50px;
  display: flex;
  align-items: center;
}

.d1-2{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d1-3{
  height: 50px;
}

.num{
  display: inline-block;
  height: 40px;
  width: 30px;
  border: 2px solid rgb(46, 46, 46);
  color: rgb(48, 48, 48);
 text-align: center;
 line-height: 40px;
 font-size: 25px;
 font-weight: bold;
}

.pisca{
  animation-name: pisca;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.d1-4{
flex: 1;
line-height: 30px;
}

.d1-right{
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d1-image{
  border: 1px solid rgb(71, 71, 71);
  background-color: transparent;
  text-align: center;
  font-size: 14px;
}

.d1-image img{
  width: 100%;
  height: 80%;
}

.small img{
  width: 70%;
  height: 70%;
  font-size: 5px;
}

.small{
  font-size: 13px;
}

.d2{
  height: 50px;
  font-size: 15px;
  border-top: 2px solid rgb(77, 77, 77);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.aviso-grande {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.aviso-gigante {
  font-size: 70px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}